.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
      .chat-side__user--new-group
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'fa'
      .chat-side__user--edit-user
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'fa'

  .chat-side__groups
    - current_user.groups.each do |group|
      .chat-side__group
        = link_to group_messages_path(group) do
          .chat-side__group-name
            = group.name
          .chat-side__group-message
            = group.show_last_message
