.chat-main__body--message-list{ "data-id": "#{message.id}" }
  .chat-main__message.clearfix
    .chat-main__message-name{"data-name": "#{message.user.name}"}
      = message.user.name
    .chat-main__message-time
      = message.created_at.strftime("%y/%m/%d %H:%M")
    .chat-main__message-body
      - if message.body.present?
        %p.lower-message__content
          = message.body
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
