!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.notification
      チャットグループが作成されました

    = render 'messages/chat-side'

    %div.chat-main
      %div.chat-main__header
        %div.chat-main__header--group.clearfix
          %div.chat-main__header--group-name
            sampleグループ
          %a.chat-main__header--group-edit-btn(href='')edit
        %div.chat-main__header--members
          MEMBER
          %I
            test
      %div.chat-main__body
        %div.chat-main__body--message-list
          = render 'messages/message'
      %div.chat-main__footer
        %form.chat-main__footer-form
          %div.chat-main__footer-body
            %input.message{placeholder: "type a message", type: "text"}
            %label.upload-label{for: "upload-icon"}
              %i.fa.fa-picture-o
            %input.submit{value: "Send", type: "submit"}


    = yield
